# Dependencies
node_modules/
.pnp
.pnp.js

# Build Outputs & Caches
.cache/
**/.cache/
.turbo/
.next/
dist/
api/dist/
api/src/generated/
*.tsbuildinfo

# Native Build Caches
.gradle/
**/android/.gradle/
**/android/build/
**/android/app/build/
**/ios/build/
**/ios/Pods/
**/ios/DerivedData/
.expo/

# System / OS Caches
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local environment secrets
.env*.local
