# Dependencies
node_modules/

# Expo and Metro Caches
.expo/
dist/
web-build/
expo-env.d.ts
.metro-health-check*

# Native Build Caches
.kotlin/
*.orig.*
.gradle/
android/.gradle/
android/build/
android/app/build/

# Debug Logs
npm-debug.*
yarn-debug.*
yarn-error.*

# OS Caches
.DS_Store
Thumbs.db

# TypeScript Cache
*.tsbuildinfo
